Source: tigger
Section: python
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0), python-all, python-setuptools,
 python-kittens, python-qt4, python-qwt5-qt4
Standards-Version: 3.9.2
Homepage: https://github.com/ska-sa/tigger
X-Python-Version: 2.7

Package: python-tigger
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, python-kittens, python-pyfits,
 python-astlib, python-scipy, python-numpy, python-qt4, python-qwt5-qt4,
 libicu52
Description: FITS and MeqTrees LSM viewer
